{% extends "admin/master_layout.html" %}
{% load static %}
{% block main_content %}
    <div class="mainInnerWrapper">
        <div class="text-center cover-container">
            <a href="#">
                <img src="{% static "images\nodpimage.jpg" %}">
            </a>
            <h1 class="profile-name">{{ request.session.USER_NAME }}</h1>
            <p class="user-text">sharing awesome ideas with your friends, you can grow, grow fast</p>
        </div>
        <!-- left content-->

        <div class="leftMenuWrapper">

            <div class="profile-nav">

                <div class="panel">

                  <ul class="nav nav-pills nav-stacked">

                      <li class="active"><a href="#"> <i class="fa fa-user"></i> Home</a></li>

                      <!-- <li><a href="about.html"> <i class="fa fa-info-circle"></i> About</a></li> -->
                     {%   if not request.session.PAID_USER %}
                      <li><a href="{% url 'stripe_account_creation' %}"> <i class="fa fa-edit"></i>payment</a></li>
                  {% endif %}
                  </ul>

                </div>

            </div>


        </div><!-- end left content-->
        <div class="">
            <div class="FeedWrapper">
                <form method="post" enctype="multipart/form-data" action="{% url 'user_home' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xl-12 feedUploadInnerWrapper">
                            <div class="form-group">
                                {% for field in form_upload %}
                                    <div class="">
                                        <div class="form-group">
                                            {{ field.label_tag }} {{ field }}
                                            {{ field.errors }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <img id="showVideo" src="#" alt="your image" />
                            <input type="submit" name="upload_button" id="upload_button" value="Post"/>
                        </div>
                    </div>
                </form>
                <!---user_feed-->
               {% load el_pagination_tags %}
                {% paginate 5 user_posts %}
                {% for post in user_posts %}
                    <div class="post">
                        <div class="post-heading">

                            <div class="pull-left image floatLeft">

                                <img src="{% static "images\nodpimage.jpg" %}" class="avatar" alt="user profile image">

                            </div>

                            <div class="pull-left meta">

                                <div class="title h5">

                                    <a href="#" class="post-user-name">{% if request.session.USER_ID == post.created_by_id %}You {% else %}{{post.created_by.user_first_name}}{%endif%}</a>

                                     added an event.

                                </div>

                                <h6 class="text-muted time">{{post.description}}</h6>

                            </div>

                        </div>
                        <div class="post-image"><img src={{post.image.url}}/></div>

                        <div class="likeBtnWrapper">
                            <div id="count_{{post.id}}" class="likeCountLabel">{{post.like_count}} </div>
                            <button id="like_{{post.id}}" class="quick_like likeBtn{% if post.liked_by_id %} liked {% endif %} "><i class="fa fa-thumbs-o-up"></i></button>
                            <p>event is happening at  {{post.event_place}} from {{post.event_start_date}} to {{post.event_end_date}}</p>
                        </div>

                    </div>
                {%endfor%}
            {% show_pages %}
            </div>
        </div>
        <div class=""></div>
    </div>
    <input type="hidden" value={{request.session.PAID_USER}} id="paid"/>
    <div class="container">
  <!-- Trigger the modal with a button -->


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p id="message"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

    <script>
      $(document).ready(function(){
          $("#message").html("Please do payment");
  if($("#paid").val()=="False")
  {
      $("#myModal").modal();
  }
});
      </script>
     <script>
        $("#upload_button").on('click',function(){
              if($("#paid").val()=="False") {
                  $("#message").html("Please do payment for posting events");
                  return false;
              }
            if ($('#upload').get(0).files.length === 0)
            {
                 $("#message").html("Please upload an image");
                 $("#myModal").modal();
                 return false
            }
        });

    </script>
    {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}


